<div class="to-do-list">
    <h1 class="to-do-list__title">To Do List</h1>
    <div class="to-do-list__form">
        <p class="to-do-list__form__preview">{{input == '' ? 'Enter something...' : input}}</p>
        <input class="to-do-list__form__input" type="text" [value]="input" (input)="input = $event.target.value" />
        <button class="to-do-list__form__button" (click)="add()">Add</button>
    </div>
    <div class="to-do-list__listItems">
        <div class="to-do-list__listItems__item" *ngFor="let item of list.items; let i = index;">
            <p class="to-do-list__listItems__item__index">{{i + 1}} <span (click)="handleToggleEditMode(i)">{{item.isEditMode ? 'Cancel editting' : 'Edit'}}</span><span (click)="delete(i)">Delete</span></p>
            <p class="to-do-list__listItems__item__desc" *ngIf="!item.isEditMode">{{item.description}}</p>
            <input *ngIf="item.isEditMode" [value]="item.description" (keydown)="handleUpdateItem($event,i)"/>
        </div>
    </div>
</div>