.to-do-list {
    border:2px solid crimson;
    padding: 5px;
    border-radius: 0.25em;
    max-width: 500px;
    margin:auto;
    margin-top: 50px;
}

.to-do-list__title {
    font-size: 15pt;
    text-transform: uppercase;
    color: crimson;
}

.to-do-list__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;
}

.form__preview {
    text-align: center;
}

.form__input {}

.form__button {
    background: crimson;
    border:none;
    padding: 5px 0 5px;
    border-radius: 0.25em;
    color: white;
}

.form__button:hover {
    background: #ff355d;
}

.to-do-list__listItems {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    row-gap: 2.5px;
}

.listItems__item {
    display: flex;
    justify-content: space-between;
    /* background: crimson; */
    border:1px solid crimson;
    border-radius: 0.25em;
    padding: 0 2.5px 0 2.5px;
    font-size: 0.85em;
}

.listItems__item:hover {
    background: crimson;
    color: white;
}

.listItems__item input {
    border: none;
    /* background:crimson; */
    /* color:white; */
}

.item__index span {
    margin-left: 5px;
    cursor: pointer;
}

input {
    border:none;
    border-bottom: 1px solid crimson;
}

input:focus {
    outline: none;
}